<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.5.1-0-g916b5db  Build Version: 1.5.7152.31018
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="TECObot-1110111">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-5.8924E-08 -0.0006072 0.032465"
        rpy="0 0 0" />
      <mass
        value="0.72607" />
      <inertia
        ixx="0.0021454"
        ixy="-1.6256E-09"
        ixz="1.7597E-09"
        iyy="0.0021752"
        iyz="-7.8447E-06"
        izz="0.003573" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://TECObot-1110111/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.9098 0.44314 0.031373 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://TECObot-1110111/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="1">
    <inertial>
      <origin
        xyz="-1.5558E-05 0.0026501 -0.0064098"
        rpy="0 0 0" />
      <mass
        value="0.70663" />
      <inertia
        ixx="0.0014127"
        ixy="-3.8824E-07"
        ixz="-7.8125E-07"
        iyy="0.0013616"
        iyz="-1.5714E-05"
        izz="0.0010735" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://TECObot-1110111/meshes/1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.25098 0.25098 0.25098 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://TECObot-1110111/meshes/1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="j1"
    type="revolute">
    <origin
      xyz="0 0 0.1301"
      rpy="3.1416 0 0" />
    <parent
      link="base_link" />
    <child
      link="1" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-2.5"
      upper="2.5"
      effort="1000"
      velocity="0.5" />
  </joint>
  <link
    name="2">
    <inertial>
      <origin
        xyz="4.9064E-11 0.20557 -0.0033599"
        rpy="0 0 0" />
      <mass
        value="1.8143" />
      <inertia
        ixx="0.065718"
        ixy="-4.7075E-06"
        ixz="1.3135E-11"
        iyy="0.0034025"
        iyz="-0.00019328"
        izz="0.064889" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://TECObot-1110111/meshes/2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.25098 0.25098 0.25098 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://TECObot-1110111/meshes/2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="j2"
    type="revolute">
    <origin
      xyz="0 0.11115 0"
      rpy="-1.5708 0 3.1416" />
    <parent
      link="1" />
    <child
      link="2" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-2.5"
      upper="2.5"
      effort="1000"
      velocity="0.5" />
  </joint>
  <link
    name="3">
    <inertial>
      <origin
        xyz="-9.7548E-05 0.27103 0.11157"
        rpy="0 0 0" />
      <mass
        value="0.44267" />
      <inertia
        ixx="0.0084678"
        ixy="4.258E-06"
        ixz="2.9703E-06"
        iyy="0.0005773"
        iyz="-0.00016137"
        izz="0.0083521" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://TECObot-1110111/meshes/3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.25098 0.25098 0.25098 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://TECObot-1110111/meshes/3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="j3"
    type="revolute">
    <origin
      xyz="0 0.408 0"
      rpy="0 0 0" />
    <parent
      link="2" />
    <child
      link="3" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-2.5"
      upper="2.5"
      effort="1000"
      velocity="0.5" />
  </joint>
  <link
    name="4">
    <inertial>
      <origin
        xyz="-0.00018176 0.0021905 -0.0008004"
        rpy="0 0 0" />
      <mass
        value="0.24005" />
      <inertia
        ixx="0.00035759"
        ixy="-4.0185E-07"
        ixz="-2.835E-06"
        iyy="0.00034473"
        iyz="-2.8192E-06"
        izz="0.00028537" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://TECObot-1110111/meshes/4.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.25098 0.25098 0.25098 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://TECObot-1110111/meshes/4.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="j4"
    type="revolute">
    <origin
      xyz="0 0.3725 0.0109"
      rpy="1.5708 0 -3.1416" />
    <parent
      link="3" />
    <child
      link="4" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="-2.5"
      upper="2.5"
      effort="1000"
      velocity="0.5" />
  </joint>
  <link
    name="5">
    <inertial>
      <origin
        xyz="-0.00019292 -0.0023249 0.0035242"
        rpy="0 0 0" />
      <mass
        value="0.22617" />
      <inertia
        ixx="0.0003199"
        ixy="2.7814E-07"
        ixz="2.7161E-06"
        iyy="0.00030775"
        iyz="-4.2514E-06"
        izz="0.00026884" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://TECObot-1110111/meshes/5.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.25098 0.25098 0.25098 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://TECObot-1110111/meshes/5.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="j5"
    type="revolute">
    <origin
      xyz="0 0 0.09"
      rpy="1.5708 0 3.1416" />
    <parent
      link="4" />
    <child
      link="5" />
    <axis
      xyz="0 -1 0" />
    <limit
      lower="-2.5"
      upper="2.5"
      effort="1000"
      velocity="0.5" />
  </joint>
</robot>