<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="TECObot_urdf_test_MESH">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="3.88553672397355E-08 -0.000607023304698254 0.0324651903540065"
        rpy="0 0 0" />
      <mass
        value="0.726077498939582" />
      <inertia
        ixx="0.00214542503131186"
        ixy="-1.62560396402616E-09"
        ixz="1.75967015842672E-09"
        iyy="0.00217519049431956"
        iyz="-7.84469380222818E-06"
        izz="0.0035729713646278" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://TECObot_urdf_test_MESH/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.909803921568627 0.443137254901961 0.0313725490196078 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://TECObot_urdf_test_MESH/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="link_1">
    <inertial>
      <origin
        xyz="-1.45889108008943E-05 -0.00264961401996497 -0.0174915590909077"
        rpy="0 0 0" />
      <mass
        value="0.706641056836662" />
      <inertia
        ixx="0.00109669076085508"
        ixy="6.05169254309636E-07"
        ixz="-1.70647019576967E-06"
        iyy="0.00104652574117838"
        iyz="-1.59632933910694E-06"
        izz="0.0010649284157643" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://TECObot_urdf_test_MESH/meshes/link_1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.250980392156863 0.250980392156863 0.250980392156863 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://TECObot_urdf_test_MESH/meshes/link_1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_1"
    type="revolute">
    <origin
      xyz="0 0 0.154"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="link_1" />
    <axis
      xyz="0 3.0886E-05 -1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link_2">
    <inertial>
      <origin
        xyz="1.45889109221988E-05 0.0174915590907303 0.00264961402113623"
        rpy="0 0 0" />
      <mass
        value="0.706641056836662" />
      <inertia
        ixx="0.00109669076085501"
        ixy="-1.70647019612323E-06"
        ixz="6.0516925561362E-07"
        iyy="0.00106492841576455"
        iyz="-1.59632933793118E-06"
        izz="0.00104652574117821" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://TECObot_urdf_test_MESH/meshes/link_2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.250980392156863 0.250980392156863 0.250980392156863 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://TECObot_urdf_test_MESH/meshes/link_2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_2"
    type="revolute">
    <origin
      xyz="0 -0.13505 -0.0239"
      rpy="0 0 0" />
    <parent
      link="link_1" />
    <child
      link="link_2" />
    <axis
      xyz="0 -1 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link_3">
    <inertial>
      <origin
        xyz="-1.45889105713931E-05 0.0174915590909378 -0.00264961401976804"
        rpy="0 0 0" />
      <mass
        value="0.706641056836665" />
      <inertia
        ixx="0.00109669076085507"
        ixy="1.70647019543884E-06"
        ixz="6.05169255816426E-07"
        iyy="0.00106492841576424"
        iyz="1.59632933936021E-06"
        izz="0.00104652574117846" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://TECObot_urdf_test_MESH/meshes/link_3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.250980392156863 0.250980392156863 0.250980392156863 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://TECObot_urdf_test_MESH/meshes/link_3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_3"
    type="revolute">
    <origin
      xyz="0 0 0.408"
      rpy="0 0 0" />
    <parent
      link="link_2" />
    <child
      link="link_3" />
    <axis
      xyz="0 -1 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link_4">
    <inertial>
      <origin
        xyz="0.00019323268896686 -0.0454763670624262 -0.00232487682639149"
        rpy="0 0 0" />
      <mass
        value="0.226166137479286" />
      <inertia
        ixx="0.000190278245436985"
        ixy="-4.05394418898964E-07"
        ixz="-4.98501968232367E-07"
        iyy="0.000265440619902272"
        iyz="2.73334681315836E-06"
        izz="0.000178872505808888" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://TECObot_urdf_test_MESH/meshes/link_4.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.250980392156863 0.250980392156863 0.250980392156863 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://TECObot_urdf_test_MESH/meshes/link_4.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_4"
    type="revolute">
    <origin
      xyz="0 0.1868 0.3725"
      rpy="0 0 0" />
    <parent
      link="link_3" />
    <child
      link="link_4" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link_5">
    <inertial>
      <origin
        xyz="-0.000193232689683123 0.00232487682292701 0.0454763670626001"
        rpy="0 0 0" />
      <mass
        value="0.226166137479286" />
      <inertia
        ixx="0.000190278245436955"
        ixy="-4.98501968740789E-07"
        ixz="-4.0539442016838E-07"
        iyy="0.000178872505808512"
        iyz="2.73334680655708E-06"
        izz="0.000265440619902673" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://TECObot_urdf_test_MESH/meshes/link_5.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.250980392156863 0.250980392156863 0.250980392156863 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://TECObot_urdf_test_MESH/meshes/link_5.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_5"
    type="revolute">
    <origin
      xyz="0 -0.152 -0.049"
      rpy="0 0 0" />
    <parent
      link="link_4" />
    <child
      link="link_5" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link_6">
    <inertial>
      <origin
        xyz="0.000193232688908587 -0.0454763670624268 -0.00232487682639571"
        rpy="0 0 0" />
      <mass
        value="0.226166137479285" />
      <inertia
        ixx="0.000190278245436959"
        ixy="-4.05394418830917E-07"
        ixz="-4.98501968518071E-07"
        iyy="0.000265440619902271"
        iyz="2.73334681316946E-06"
        izz="0.000178872505808912" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://TECObot_urdf_test_MESH/meshes/link_6.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.250980392156863 0.250980392156863 0.250980392156863 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://TECObot_urdf_test_MESH/meshes/link_6.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_6"
    type="revolute">
    <origin
      xyz="0 0.049 0.139"
      rpy="0 0 0" />
    <parent
      link="link_5" />
    <child
      link="link_6" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
</robot>