<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="TECObot_urdf_test_MESH_3">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="3.8855E-08 -0.00060702 0.032465"
        rpy="0 0 0" />
      <mass
        value="0.72608" />
      <inertia
        ixx="0.0021454"
        ixy="-1.6256E-09"
        ixz="1.7597E-09"
        iyy="0.0021752"
        iyz="-7.8447E-06"
        izz="0.003573" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://TECObot_urdf_test_MESH_3/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.9098 0.44314 0.031373 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://TECObot_urdf_test_MESH_3/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="link_1">
    <inertial>
      <origin
        xyz="-0.00263 0.00032338 0.0064094"
        rpy="0 0 0" />
      <mass
        value="0.70662" />
      <inertia
        ixx="0.0010471"
        ixy="5.2098E-06"
        ixz="-1.3869E-06"
        iyy="0.0010962"
        iyz="1.8808E-06"
        izz="0.0010649" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://TECObot_urdf_test_MESH_3/meshes/link_1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.25098 0.25098 0.25098 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://TECObot_urdf_test_MESH_3/meshes/link_1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_1"
    type="revolute">
    <origin
      xyz="0 0 0.1296"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="link_1" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link_2">
    <inertial>
      <origin
        xyz="-0.0062098 0.0020791 -0.0022847"
        rpy="0 0 0" />
      <mass
        value="0.70662" />
      <inertia
        ixx="0.0010647"
        ixy="5.7685E-08"
        ixz="3.0192E-06"
        iyy="0.0010849"
        iyz="2.1258E-05"
        izz="0.0010586" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://TECObot_urdf_test_MESH_3/meshes/link_2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.25098 0.25098 0.25098 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://TECObot_urdf_test_MESH_3/meshes/link_2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_2"
    type="revolute">
    <origin
      xyz="-0.11015 0.012905 0.1296"
      rpy="0 0 0" />
    <parent
      link="link_1" />
    <child
      link="link_2" />
    <axis
      xyz="-0.99321 0.11637 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
</robot>