<?xml version="1.0"?>
<launch>

  <arg name="sim" default="true" />

  <arg name="load_robot_description" default="true" />
  <!-- load URDF, SRDF and joint_limits configuration -->
  <include file="$(find teco_config)/launch/planning_context_tcp.launch">
    <arg name="load_robot_description" value="$(arg load_robot_description)" />
  </include>
  <!-- <param name="robot_description" command="$(find xacro)/xacro '$(find pilz_tutorial)/urdf/my_first_application_teco.xacro'"/> -->
  <!-- <param name="robot_description" command="$(find xacro)/xacro '$(find pilz_tutorial)/urdf/my_first_application_teco.xacro'"/> -->
  <include file="$(find teco_config)/launch/moveit_planning_execution.launch">
    <arg name="load_robot_description" value="false"/>
    <arg name="sim" value="$(arg sim)"/>
    <arg name="pipeline" value="pilz_industrial_motion_planner"/>
  </include>

</launch>

