<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="TECObot_urdf_test_MESH_2">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="3.88553672397355E-08 -0.000607023304698254 0.0324651903540065"
        rpy="0 0 0" />
      <mass
        value="0.726077498939582" />
      <inertia
        ixx="0.00214542503131186"
        ixy="-1.62560396403084E-09"
        ixz="1.75967015840664E-09"
        iyy="0.00217519049431956"
        iyz="-7.84469380222819E-06"
        izz="0.0035729713646278" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://TECObot_urdf_test_MESH_2/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.909803921568627 0.443137254901961 0.0313725490196078 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://TECObot_urdf_test_MESH_2/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="link_1">
    <inertial>
      <origin
        xyz="-1.45889041028007E-05 -0.272749614058939 0.804708440892327"
        rpy="0 0 0" />
      <mass
        value="0.706641056836658" />
      <inertia
        ixx="0.00109669076085508"
        ixy="6.05169254310189E-07"
        ixz="-1.70647019577297E-06"
        iyy="0.00104652574117838"
        iyz="-1.59632933910602E-06"
        izz="0.0010649284157643" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://TECObot_urdf_test_MESH_2/meshes/link_1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.250980392156863 0.250980392156863 0.250980392156863 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://TECObot_urdf_test_MESH_2/meshes/link_1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_1"
    type="revolute">
    <origin
      xyz="0 0 0.154"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="link_1" />
    <axis
      xyz="0 3.0886E-05 -1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link_2">
    <inertial>
      <origin
        xyz="-0.0154296863569274 -0.602017847208183 0.208766169206459"
        rpy="0 0 0" />
      <mass
        value="1.79532012969953" />
      <inertia
        ixx="0.00470769872214807"
        ixy="-1.46364990575767E-11"
        ixz="1.25390897207376E-06"
        iyy="0.0046773797610757"
        iyz="-1.79859306216337E-10"
        izz="0.0025465968842703" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://TECObot_urdf_test_MESH_2/meshes/link_2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.250980392156863 0.250980392156863 0.250980392156863 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://TECObot_urdf_test_MESH_2/meshes/link_2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_2"
    type="revolute">
    <origin
      xyz="0 -0.13505 -0.0239"
      rpy="0 0 0" />
    <parent
      link="link_1" />
    <child
      link="link_2" />
    <axis
      xyz="0 -1 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link_3">
    <inertial>
      <origin
        xyz="0.0590465196335553 1.28762248919776 0.184964622579947"
        rpy="0 0 0" />
      <mass
        value="0.454576765333857" />
      <inertia
        ixx="0.00254844322346514"
        ixy="-4.05468601659239E-07"
        ixz="-1.01863797116943E-06"
        iyy="0.00261145428370829"
        iyz="-9.84437157741603E-05"
        izz="0.000380344313037231" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://TECObot_urdf_test_MESH_2/meshes/link_3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.250980392156863 0.250980392156863 0.250980392156863 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://TECObot_urdf_test_MESH_2/meshes/link_3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_3"
    type="revolute">
    <origin
      xyz="0 0 0.408"
      rpy="0 0 0" />
    <parent
      link="link_2" />
    <child
      link="link_3" />
    <axis
      xyz="0 -1 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link_4">
    <inertial>
      <origin
        xyz="-0.0500146729503858 -0.0500306689347494 -2.61322857738375"
        rpy="0 0 0" />
      <mass
        value="0.240049979815761" />
      <inertia
        ixx="0.00019189584007974"
        ixy="-2.76354371362064E-07"
        ixz="-4.05394411328775E-07"
        iyy="0.000186821498574514"
        iyz="2.73334681149269E-06"
        izz="0.000274893463150832" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://TECObot_urdf_test_MESH_2/meshes/link_4.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.250980392156863 0.250980392156863 0.250980392156863 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://TECObot_urdf_test_MESH_2/meshes/link_4.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_4"
    type="revolute">
    <origin
      xyz="0 0.1868 0.3725"
      rpy="0 0 0" />
    <parent
      link="link_3" />
    <child
      link="link_4" />
    <axis
      xyz="0 1 0" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link_5">
    <inertial>
      <origin
        xyz="0.000193232682512654 2.77632363293408 0.0369251231889103"
        rpy="0 0 0" />
      <mass
        value="0.226166137479283" />
      <inertia
        ixx="0.00019027824543696"
        ixy="-4.05394418831361E-07"
        ixz="-4.98501968517859E-07"
        iyy="0.000265440619902271"
        iyz="2.73334681316908E-06"
        izz="0.000178872505808912" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://TECObot_urdf_test_MESH_2/meshes/link_5.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.250980392156863 0.250980392156863 0.250980392156863 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://TECObot_urdf_test_MESH_2/meshes/link_5.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="joint_5"
    type="revolute">
    <origin
      xyz="0 -0.152 -0.049"
      rpy="0 0 0" />
    <parent
      link="link_4" />
    <child
      link="link_5" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="0"
      upper="0"
      effort="0"
      velocity="0" />
  </joint>
</robot>